body {
    margin: auto;
    background-color: wheat;
    justify-content: center;
}
.home{
    display: flex;
    width:70%;
    height:auto ;
}
.img{
   
   
}
h1{
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 1000px;
}